<div class="m-5 d-flex justify-content-between">
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Select Month</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="months">
                <mat-option *ngFor="let month of months" [value]="month">
                    {{month.monthName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    {{selectedValue?.value}}
    <button mat-raised-button color="primary" (click)="opd()">Cretate Appointment</button>
</div>

<div class="d-flex flex-wrap">
<ng-container *ngFor="let _ of [].constructor(selectedValue?.value); let c = index;">
    
        <app-day [day]="c+1" [month]="selectedValue?.index"></app-day>
    </ng-container>
</div>
<!-- <div *ngFor="let value of counter(selectedValue); let c = index;">
</div> -->