<div class="m-5 d-flex justify-content-between">
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Select Month</mat-label>
            <mat-select #monthSelected [(value)]="selectedValue" >
                <mat-option *ngFor="let month of months" [value]="month">
                    {{month.monthName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="onCreateAppointment()">Cretate Appointment</button>
</div>

<div class="d-flex flex-wrap">
<ng-container *ngFor="let d of months.constructor(selectedValue?.monthDay); let c = index">
        <app-day [day]="c+1" [month]="selectedValue?.monthNumber"></app-day>
    </ng-container>
</div>
